* {
  box-sizing: border-box;
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
}
header {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  margin: 10px 0 10px 0;
  flex-grow: 10;
  align-self: center;
}
.header-menu {
  display: flex;
  overflow-x: scroll;
}
.menu {
  flex-grow: 1;
}
.header-menu__link {
  position: relative;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #9b9b9b;
  margin-top: 10px;
  padding-right: 25px;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
.menu .header-menu__item:last-child a {
  padding-right: 0;
}
.header-menu__link::before {
  position: absolute;
  content: "";
  display: none;
  height: 1px;
  width: 8px;
  background-color: black;
  left: -12px;
  top: 50%;
}
.header-menu__link:hover {
  color: black;
}
.header-menu__item:hover .header-menu__link::before {
  display: block;
}
.search {
  flex-grow: 0.5;
  background-image: url(../../../images/search_icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 16px;
  width: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
}
main {
  background-color: #fafafa;
}

.heading {
  position: relative;
}
.heading__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(235, 235, 235, 0.8);
  z-index: 2;
  top: 0;
  left: 0;
}
.heading__wrapper {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  height: 350px;
  background-image: url(../../../images/heading-base.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 50%;
  z-index: 0;
}
.heading__header {
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.heading__title {
  text-align: start;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2.8px;
  color: white;
  background-color: black;
  padding: 11px 36px 11px 34px;
  width: 100%;
}
.heading__header span {
  padding-top: 16px;
  color: black;
  font-size: 16px;
  line-height: 16px;
  display: block;
  letter-spacing: 2.2px;
}

.story {
  padding-top: 15px;
  padding-bottom: 15px;
}
.story__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.story__inner img {
  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-bottom: 15px;
}
.our_story__content {
  font-family: "Roboto";
}
.our_story__content h3 {
  font-size: 18px;
  letter-spacing: 7px;
  line-height: 20px;
  color: #000000;
  font-weight: 300;
  padding-bottom: 40px;
}
.our_story__text {
  width: 100%;
  text-align: center;
}
.our_story__content p {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  padding-bottom: 44px;
}
.progress-bar {
  margin-bottom: 24px;
}
.progress_bar__header {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.progress-bar__wrapper {
  width: 95%;
}

.progress-bar__line {
  height: 10px;
  width: 100%;
  background-color: #ebebeb;
  padding: 4px 3px;
}

.progress-bar__fill {
  position: relative;
  display: block;
  height: 2px;
  background-color: #a1a1a1;
}
.progress-bar__indicator {
  height: 12px;
  width: 12px;
  border-radius: 100px;
  position: absolute;
  top: -5px;
  right: -4px;
  background-image: url(../../../images/slider-dot-hover.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.progress-bar__comment {
  color: white;
  text-align: center;
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: -41px;
  right: -38px;
  width: 40px;
  height: 21px;
  background: black;
}
.progress-bar__comment::after {
  position: absolute;
  bottom: -7px;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 7px solid black;
  border-right: 7px solid transparent;
}

.team {
  padding-top: 15px;
  padding-bottom: 15px;
}
.team__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.team__header {
  font-family: "Roboto";
  text-align: center;
}
.team__header-heading {
  font-size: 25px;
  letter-spacing: 8px;
  line-height: 18px;
  color: #000000;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 18px;
}
.team__header-text {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #777777;
  padding-bottom: 67px;
}
.employee_card {
  margin-bottom: 20px;
}
.employee_card__description {
  max-width: 100%;
  background-color: #ffffff;
  padding: 35px 42px 31px 35px;
  font-family: "Roboto";
}
.employee_card__photo {
  width: 100%;
  height: 100%;
}
.employee_card__description-header {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #041608;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 12px;
}
.employee_card__description span {
  font-weight: 700;
  font-size: 16px;
  color: #777777;
}
.employee_card__about {
  padding-top: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #9c9c9c;
  line-height: 24px;
}
/* FOOTER -------------------------- */

.footer__logo {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
footer {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.footer__social {
  border: 1px solid #ebebeb;
  border-right: 0;
  border-left: 0;
  display: flex;
  justify-content: space-around;
}
.footer__social-link {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 5px 25px 5px 0;
}
.footer__social li:last-child a {
  margin: 5px 0 5px 0;
}
.facebook {
  background-image: url(../../../images/facebook.png);
  background-size: cover;
}
.google {
  background-image: url(../../../images/google-plus.png);
  background-size: cover;
}
.twitter {
  background-image: url(../../../images/twitter.png);
  background-size: cover;
}
.linkedIn {
  background-image: url(../../../images/linkedin.png);
  background-size: cover;
}
.dribble {
  background-image: url(../../../images/dribbble.png);
  background-size: cover;
}
.pinterest {
  background-image: url(../../../images/pinterest.png);
  background-size: cover;
}
.instagram {
  background-image: url(../../../images/instagram-sketched.png);
  background-size: cover;
}
.footer__text {
  text-align: center;
  padding: 10px 0 20px 0;
  font-size: 13px;
  line-height: 26px;
  color: #b5b5b5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.footer__text span {
  color: black;
}

/* table */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    margin: 27px 0 28px 0;
    flex-grow: 10;
    align-self: unset;
  }
  .header-menu {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .header-menu__link {
    margin-top: 42px;
    padding-right: 46px;
  }
  .header-menu__link::before {
    width: 20px;
    left: -40px;
  }
  .search {
    margin-top: 42px;
    align-self: unset;
  }
  .heading__title {
    font-size: 48px;
    line-height: 24px;
    letter-spacing: 4.8px;
    padding: 11px 36px 11px 34px;
    width: 600px;
  }
  .heading__header span {
    padding-top: 44px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 7.2px;
  }
  .heading__wrapper {
    background-position: 80% 50%;
  }
  .heading__inner {
    background-color: rgba(235, 235, 235, 0.7);
  }

  .our_story__text {
    width: 558px;
    text-align: start;
  }
  .progress-bar__wrapper {
    width: 552px;
  }
  .team {
    padding-top: 74px;
    padding-bottom: 76px;
  }
  .team__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .team__header-heading {
    font-size: 30px;
    letter-spacing: 12px;
    line-height: 24px;
    font-weight: 300;
    padding-bottom: 18px;
  }
  .team__header-text {
    width: 612px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 67px;
  }
  .employee_card__photo {
    width: auto;
    height: auto;
  }
  .employee_card {
    margin-bottom: 20px;
  }
  .employee_card__description {
    max-width: 358px;
    background-color: #ffffff;
    padding: 35px 42px 31px 35px;
    font-family: "Roboto";
  }
  .footer__logo {
    padding-top: 64px;
    padding-bottom: 44px;
  }
  .footer__social {
    justify-content: center;
  }
  .footer__social-link {
    margin: 22px 56px 24px 0;
  }
  .footer__social li:last-child a {
    margin: 22px 0 24px 0;
  }
  .footer__text {
    padding: 36px 0 47px 0;
    font-size: 13px;
    line-height: 26px;
  }
}

/* laptop */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .story {
    padding-top: 72px;
    padding-bottom: 26px;
  }

  .team__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: unset;
    flex-wrap: wrap;
  }
  .heading__wrapper {
    background-position: center;
  }
  .heading__inner {
    background-color: rgba(235, 235, 235, 0);
  }
  .employee_card {
    align-self: center;
    margin-bottom: 20px;
  }
}
/* desktop */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .story__inner img {
    width: auto;
    height: auto;
    padding-bottom: 0;
  }
  .team__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: unset;
    flex-wrap: nowrap;
  }
  .employee_card {
    margin-bottom: 0;
  }
  .story__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* mobile */
@media (max-width: 767px) {
}
